.navbar-item{
    padding: .5rem 2.5rem;
}
.navB {
    padding-left: 2em!important;
    padding-right: 2em!important;
    padding-bottom: 1.1em!important;
    padding-top: 1.1em!important; 
    color: #4F03E0;
}
.mainB{
    padding-left: 4em!important;
    padding-right: 4em!important;
    padding-bottom: 2em!important;
    padding-top: 2em!important;
    background-color: #6A15E1;
    color: white;
    font-weight: 600;
    -webkit-box-shadow: 0px 9px 9px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 9px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 9px -1px rgba(0,0,0,0.75);
    border-color: #6A15E1;
}
a:hover{
    color: #fff;
}
body{
    background-image: url("img/wall.jpg");
    height: 800px;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}
.title{
    color: #fff;
}
p{
    color: #E5E5E5;
}
.navbar{
    background-color: transparent;
}
.navbar-item{
    color: #fff;
}
.dog-image{
    background-image: url("img/30186.jpg");
    height: 400px;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}